[2016-11-29 16:32] Adrianzatreanu opened #1 "Docs team leader Application: Adrian Zatreanu"
# Bio

Who are you? What makes you special?

I'm Adrian and I try to be funny. I also refactored the whole documentation and moved it out of the coala core, and I'm probably one of the people that knows most about the repository.

# coala Contributions so far

What contributions, coding or not, have you done to coala?
A lot of bears, cib, lots of documentation as well, some requirement classes.

#

[2016-11-29 16:37] Adrianzatreanu opened #2 "cib Team Leader Application: Adrian Zatreanu"
Proposing a new team that operates with cib (the bear installation tool) as I have found myself
working alone and it was quite hard, so designing a team of members working on it would be
amazing.

I'd also like to propose myself as the team leader if this team happens.

# Bio

Who are you? What makes you special?
The creator of cib :p

# coala Contributions so far

What contributions, coding or no

[2016-11-29 17:44] adtac opened #3 "Core team leader application: Adhityaa Chandrasekar"
## Bio

Well, I'm Adhityaa and I [try to be funnier than Adrian](https://github.com/coala/teams/issues/1). Anyway, I've worked a lot on coala's core since I started and I know how most things work and how things are done, which I think is crucial for a leader.

## coala Contributions so far

I implemented caching in coala, which was a huge performance improvement (over 2.5x). I also managed the 0.

[2016-11-29 17:45] Adrianzatreanu commented on #3
well said "you try" :)

[2016-11-29 17:47] adtac commented on #3
That's up for debate :P

[2016-12-01 17:33] osuchowski commented on #3
Are you sure you're not going to port core to TrumpScript? :)

[2016-12-01 17:35] adtac commented on #3
@tulphoon ssshhhhh :P

[2016-12-02 18:08] sims1253 opened #4 "Community team leader Application: Maximilian Scholz"
# Bio

I am Max and sometimes called the Secretary of Offtopic (mainly by myself). I joined coala in early 2015 but real contributions started this year. I mainly work on coala by giving input on design questions and administrative tasks. But my biggest impact on coala probably was on the community work during the second GSoC coala participated in and my conference visits. From that time the title

[2016-12-06 14:36] adtac commented on #4
well, what can you say, it works very well http://coala.io/starwars :P

[2016-12-08 10:53] adtac opened #6 "Team proposal: Release team"
This team would be responsible for compiling release notes/changelog, creating a logo for the release ([hehe](https://cloud.githubusercontent.com/assets/7521600/21007379/9af905ea-bd62-11e6-8735-fd8edcfd5c9f.png)) and anything related roughly once a month.

[2016-12-08 11:36] sims1253 commented on #6
I propose you as the team leader. HA!

[2016-12-08 12:25] adtac commented on #6
I'd gladly be the Secretary of Release Logos :P

[2016-12-10 14:45] sims1253 opened #7 "Research Team Leader Application: Maximilian Scholz"
# Bio

I am Maximilian Scholz and sometimes called the Secretary of Offtopic (mainly by myself). I joined coala in early 2015 but real contributions started this year. I mainly work on coala by giving input on design questions and administrative tasks. But my biggest impact on coala probably was on the community work during the second GSoC coala participated in and my conference visits. From that

[2016-12-13 16:15] Mixih opened #8 "Add rultor.yml so maintainers don't feel like criminals when they merge :)"
NOT a TEAM application! This is a maintenance ticket.

[2016-12-13 18:44] #8 closed

[2016-12-14 17:35] Udayan12167 opened #10 "Research Team Leader Application: Udayan Tandon"
# Bio

Who are you? What makes you special?

I'm Udayan Tandon. I have been a part of coala since early 2015. I have seen coala evolve from its very primitive stages to the behemoth it is now. Mostly being involved in these evolutions. I'm also fresh out of university where my main research area was Program Analysis and my work won the best thesis award as well. I have also designed the new core o

[2016-12-15 21:06] sils commented on #4
@sims1253 do you plan to push talk participation by coala members?

[2016-12-15 21:09] sils commented on #2
@Adrianzatreanu how is your goal being achieved?

[2016-12-15 21:14] sils commented on #1
@Adrianzatreanu would you be able/willing to lead two teams? You applied for two. Is there anything special where you see the docs team to move?

[2016-12-15 21:14] sils commented on #1
see also https://github.com/coala/teams/issues/2

[2016-12-15 21:16] sils commented on #6
Team proposals without a team leader application aren't allowed.

[2016-12-15 21:18] userzimmermann opened #11 "Aspects Team Leader Application: Stefan Zimmermann"
# Bio

I'm the designer of aspectclasses.

# coala Contributions so far

I created aspectclasses.

# Road to the Future

I will nurture coala and bears to make full use of aspectclasses.

[2016-12-15 21:18] sils commented on #3
@adtac where do you see coala going? And this team?

[2016-12-15 21:22] sims1253 commented on #4
@sils yup. I will try to increase conference participation in general and when we have interesting GSoC projects (or in general cool stuff) I would love to enable members to present their awesome work to a wider audience.

[2016-12-15 21:28] sils commented on #7
@sims1253 a lot of this seems like a rather long term goal, do you have some concrete measures that you will implement to increase coala's presence in research?

[2016-12-15 21:29] sils commented on #10
@Udayan12167 do you have any concrete proposals on which measures you will implement to make this happen?

[2016-12-15 22:20] sims1253 commented on #7
@sils I feel like getting coala into research hast to be done kind of long term ish.
There were two theses written with coala but I don't feel that this improved the "position in research" for coala. What I want is a more stable flow of projects. Not single ones here and there but more routinely. Having another thesis thrown into the pool surely is nice but does not help mid- and long term I feel.

[2016-12-15 22:23] sils commented on #7
any specific ideas on the "pilot project"?

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 15 December 2016 at 23:20, sims1253 <notifications@github.com> wrote:

[2016-12-15 22:26] sims1253 commented on #7
the one with university people?
The language agnostic compiler optimization thing could be something that's interesting for them and would be huge for us.
Visualization of code also is something that is done in research and could be interesting for us. Generating graphs from code. This is just a small brainstorming. No concrete plans at this stage.

[2016-12-15 22:28] sims1253 commented on #11
Do you have any concrete plans how to organize, implement and nourish aspects?

[2016-12-15 22:30] sils commented on #7
any timeframe on the roadmap on this so far?

[2016-12-15 22:31] sims1253 commented on #3
Are there any architectural or conceptual changes you want to achive? How do you want to organize the core development process?

[2016-12-15 22:31] sils commented on #4
@sims1253 will you push https://github.com/coala/cEPs/issues/23 ?

[2016-12-15 22:33] sims1253 commented on #10
Do you have long-term and/or conceptual ideas?

[2016-12-15 22:52] userzimmermann commented on #11
@sims1253 Yes. I already made very concrete plans during our last hackathon in Cuxhaven. We can further discuss this now if you like. It should work over a distance of ~2m :)

[2016-12-15 23:07] sims1253 commented on #7
rough outline would be
establish contact: January
outline project and thesis ideas: March
First thesis done in this formal process: Dezember

[2016-12-15 23:07] sims1253 commented on #4
yup

[2016-12-15 23:13] sims1253 commented on #6
yes they are :)

[2016-12-16 00:02] Mariatta commented on #6
Well then we just need someone to volunteer to be team leader :)
#notme

[2016-12-16 00:02] Mariatta commented on #6
But I think this team is gonna be useful

[2016-12-16 00:04] Mariatta commented on #4
Can one person be team leader for 2 teams?
If you are chosen to lead this team, will you relinguish the desire to lead the other team? :grinning:

[2016-12-16 00:06] Mariatta commented on #1
Same question..

[2016-12-16 00:10] sils commented on #6
certainly

[2016-12-16 00:11] sils commented on #4
as per the current cEP I think we can have one person leading up to two
teams

[2016-12-16 00:20] sims1253 commented on #4
I don't think I'll relinquish the desire to lead any team :D
They are different aspects and I like management and organizing stuff :)

[2016-12-16 16:50] Udayan12167 commented on #10
I have a concrete proposal about adding a machine learning algorithm to coala. I recently did a project in my Machine Learning course to learn coding conventions in Java. This project is essentially a paper from https://arxiv.org/pdf/1402.4182.pdf. I have an extensive understanding of this paper and would like make a native coala implementation for python. I have a clear picture of how to modify t

[2016-12-16 16:57] Udayan12167 commented on #10
Furthermore, I plan to join one of the best Research institutes in India in the Program Analysis group. I know professors there who do extensive work in static analysis. I plan to convince them to use coala for some research and possibly collaborate with them on projects. I know this has been a difficult for coala for some time now. I know a few professors on a personal level now and hence have a

[2016-12-19 14:11] adtac commented on #3
Hey guys, I just got a better internet connection (it's still a mobile connection, but it's at least 3G). Anyway, I just saw this - I'll draft up a reply and get back to you soon. Sorry about the delay, I can't really help it (my city got hit with a huge cyclone, so a lot of the digital infrastructure got smashed).

[2016-12-19 14:12] adtac commented on #6
I just thought we should log this somewhere. So that we don't forget about this.

[2016-12-22 06:20] adtac commented on #3
@sils @sims1253 coala is taking a direction I completely believe in - aspects. Aspects are really how a user-friendly code analysis toolkit should be - I shouldn't need to care which bear to use. Hell, people don't even know what bears are when they first find out about coala. But everyone knows what kind of indentation they want - and it's a much better onboarding process if we ask them just the

[2016-12-22 12:23] Adrianzatreanu commented on #2
I already am working on it and moved the requirements to a separate repo, and @Nosferatul is already trying to help me to make it happen. we're working on distribution requirements :)

[2016-12-22 12:25] Adrianzatreanu commented on #1
I applied for these teams as cib wont require as much maintanance, and I don't see anyone that could be more fit for the documentation team. Also, leading a team does not imply writing lots of code yourself, but having an idea of how docs should look and how to prevent redundancy, by having that one person (which i consider is me) that can have an overview on all docs.

[2016-12-23 23:20] sims1253 opened #13 "Move teamlist.md to README"
I think this would be a good idea

[2016-12-25 11:07] #1 closed

[2016-12-25 11:07] #2 closed

[2016-12-25 11:07] #3 closed

[2016-12-25 11:07] #4 closed

[2016-12-25 11:07] #7 closed

[2016-12-25 11:07] #10 closed

[2016-12-25 11:07] #11 closed

[2016-12-27 22:09] #13 closed

[2016-12-28 14:47] sils opened #17 "Team Leaders: Add github+gitlab usernames"
we should know how to CC them on github and gitlab

[2016-12-28 15:14] sils opened #18 "core Team Member Application: Lasse"
# Bio

I'm Lasse. I'm the BLD of coala. I'm special. Also I'm western, white, male and in my 20ies so I fit the profile of an open source developer pretty well.

# coala Contributions so far

Let me see... I created it like thrice. The first version sucked so I had to make a second. It sucked as well so I made a third. It still sucks :/

# Road to the Future

Helping @Makman2 and @Udayan12167 doin

[2016-12-28 15:21] sils opened #19 "community Team Application: Lasse"
# Bio

I'm Lasse. I'm the BLD of coala. I'm special. Also I'm western, white, male and in my 20ies so I fit the profile of an open source developer pretty well.

# coala Contributions so far

Let me see... I created it like thrice. The first version sucked so I had to make a second. It sucked as well so I made a third. It still sucks :/

# Road to the Future

I happen to own (or rather call it "be

[2016-12-28 15:24] adtac commented on #18
Hi and welcome to the coala project. Have you taken a look at coala.io/newcomer? Just kidding :D

How do I formally accept this?

[2016-12-28 15:27] sims1253 commented on #18
you kiss the bride

[2016-12-28 15:28] sils commented on #18
@adtac nobody knows I guess, not even @sims1253 and now we catched him and he's trying to talk himself out of this

[2016-12-28 16:23] Nosferatul opened #21 "cib Team Member Application: Alexandru Maxim"
# Bio

I'm Alex, student at Politehnica(Bucharest) in 2nd year and I like challenges!

# coala Contributions so far

Pull requests for coala and coala-bears repo. I helped newcomers and reviewed pull requests. So far I like it and I want to keep going.

# Road to the Future

I want to help where I can and more code in the future!

[2016-12-28 16:32] Mariatta opened #22 "Community Team Member application: Mariatta"
# Bio

My name is Mariatta, and I'm extra super duper special because:
- At the time of applying, I'm the only woman in coala maintainers team.
- I'm on IMDb http://www.imdb.com/name/nm7641957/

My other community involvements include:
- co-organize Vancouver PyLadies meetups
- organized a screening of Code: Debugging the Gender Gap with VanPy User group
- mentored for Girls Learning Code and Ladi

[2016-12-28 16:39] Mariatta opened #23 "Release Team Member application: Mariatta"
# Bio

My name is Mariatta, and I'm extra super duper special because:

- At the time of applying, I'm the only woman in coala maintainers team.
- I'm on IMDb http://www.imdb.com/name/nm7641957/

# coala Contributions so far

- documentation
- review prs
- accept prs
- helped onboard newcomers and new contributors

# Road to the Future

I'm only applying as team member because I strongly believe t

[2016-12-28 16:42] adtac commented on #23
Holy shit, you're on IMDb? Do you do graphics professionally? Seriously, that's awesome!

[2016-12-28 16:44] Mariatta commented on #23
Told you I'm special 😉

[2016-12-28 16:45] Mariatta opened #24 "Docs Team Member application: Mariatta"
# Bio

My name is Mariatta, and I'm extra super duper special because:
- At the time of applying, I'm the only woman in coala maintainers team.
- I'm on IMDb http://www.imdb.com/name/nm7641957/

Other documenting expriences:
- Improving documentation for CPython, Python.org, Python Developer's Guide.

# coala Contributions so far

- documentation
- review prs
- accept prs
- helped onboard newcomer

[2016-12-28 17:09] sims1253 commented on #18
the cEP covers this ;)

[2016-12-28 17:13] sims1253 commented on #22
looking at the [list so far](https://github.com/coala/teams/blob/master/community/community_ideas.md)
What are areas/specific tasks you would like to be responsible for?
Are there things you would like to add to that list? Besides the doc part (which belongs to the doc team) I feel like your points are covered by the list :)

[2016-12-28 17:15] sims1253 commented on #19
Your issue title does not fit the given template. How can I expect high quality work from you :D

looking at the [list so far](https://github.com/coala/teams/blob/master/community/community_ideas.md)
What are areas/specific tasks you would like to be responsible for?
If you have point to add to the list, please feel free to do so :)

[2016-12-28 17:19] sims1253 commented on #22
Also you applied to two other teams. Do you feel that you can dedicate time and focus on three teams/areas?

[2016-12-29 14:39] sils commented on #22
@Mariatta according to your imdb profile you're good with graphics and that sounds hell impressive! Do you think we can do something like a great video about coala similar to [what GNOME does](https://www.youtube.com/watch?v=LhY7rpWXm1Y) since a year or so? I think creating some great visual content to attract users and developers alike can help us a lot, we're also looking towards a new video for

[2016-12-29 14:40] sils commented on #23
@Mixih would you like to step up as release team team leader? ^

[2016-12-29 14:41] sils commented on #24
I hereby vote for this :)

[2016-12-29 14:46] sils commented on #19
I'm already paying for the merchandise.
I'm already working with @hemangsk on the new website
I'd like to participate in the gaming events.
I'm already organizing talks and sprints and stuff but I don't (I repeat don't) wanna be responsible for it. That's the whole point isn't it? :P
I'm the owner of the hamburg code quality meetup and we should use it to make regular events.
I'll probably have to

[2016-12-29 14:47] sils commented on #22
I hereby vote for this proposal

[2016-12-29 14:48] sils commented on #21
@Nosferatul are there any concrete things in cib that you want to help improve?

[2016-12-29 15:15] Adrianzatreanu commented on #24
ack :)

[2016-12-29 17:46] sims1253 commented on #19
That's awesome :)
My idea of becoming members of the teams includes taking responsibilities for some aspects covered by the team. You are welcome to help without responsibilities but as a member I would like you to take responsibility :)

I vote for this and guess there will be something we can find for you officially (besides all the "I am doing it because nobody else does it" stuff we maybe find

[2016-12-30 10:32] Adrianzatreanu commented on #21
Right now we are planning to modularize cib and try to make the requirement classes do as much as possible on themselves. @Nosferatul is helping me make the distribution reqiurements work, which are quite a pain :D

[2016-12-30 16:40] Mixih commented on #19
ack :)

[2016-12-30 16:49] #19 closed

[2016-12-30 17:10] hemangsk opened #26 "Community Team Member Application: Hemang Kumar"
# Bio

Hello 😄  My name is Hemang, I'm 20 and studying Engineering, in my pre-final year. I love watching movies 🎦 my blood type is coffee  ☕️  (well, sure) I don't sleep much 😴  💧 and yea I try to be funny but I'm not as funny as [them](https://github.com/coala/teams/issues/3).

# coala Contributions so far

I have solved some issues on coala/coala repo and continuously working to solve more bugs

[2016-12-30 17:46] sims1253 commented on #26
Same question for you :)
What do you want to take responsibility for :) The more specific you get, the easier to organise and give credit to you :D
If you want to add things to the list, please do!
https://github.com/coala/teams/blob/master/community/community_ideas.md

[2016-12-30 18:00] sims1253 opened #27 "Change template to include responsibility"
Teams are about delegating so it would be nice to include a "I want to take on this job" section

[2016-12-30 18:07] hemangsk commented on #26
I'd really like to take the responsibility in landing page and Blog. So I can take up responsibility of,
- dev of website
- development of blog
- medium posts summarising the happenings and progress at coala

[2016-12-30 18:12] sims1253 commented on #26
Sounds awesome. We'll talk about the details and stuff in gitter or voip I suggest :) You most certainly won't have to write the whole blog yourself. I want entries from each team at least :)

I vote for this. Go, get another ack! Happy to have you!

[2016-12-30 18:13] Mixih commented on #26
ack :)

[2016-12-30 18:14] sims1253 commented on #26
\o/

[2016-12-30 18:17] hemangsk commented on #26
✨  ✨  Thank a lot 🕺  🕺  🕺So happy to be a part of the team 🎉

[2016-12-30 18:29] coala-bot opened #29 "Document developers and maintainers"
Would be nice to have a list for reference
community_team

Opened via [gitter](https://gitter.im/coala/coala/offtopic/?at=5866a79b9e6f00e74adbed9b) by @sims1253

[2016-12-30 21:08] #26 closed

[2016-12-31 04:50] adtac commented on #18
ack :)

[2016-12-31 10:46] sims1253 commented on #18
I'd love to see concrete responsibilities taken soooo
@sils what would you like to be responsible for?

[2016-12-31 11:04] yukiisbored opened #30 "Community Member Application: Kaisar Arkhan"
# Bio

I'm (currently) a 16 years old open source programmer, I've been a Linux user since 2006 and I've been starting to taken interest in programming at the same time. I've had a ton of experience with building a community (most of them are from my experience in building and managing a game server). I'm also a weeb, I read manga every night. I rarely watch anime though. I love the hell out of *n

[2016-12-31 11:19] sims1253 commented on #30
Same question for you :)
What do you want to take responsibility for :) The more specific you get, the easier to organise and give credit to you :D
If you want to add things to the list, please do!
https://github.com/coala/teams/blob/master/community/community_ideas.md

[2016-12-31 11:24] yukiisbored commented on #30
@sims1253 I've added it.

[2016-12-31 12:59] sils commented on #30
Hey @yukiisbored you seem to have some experience with server administration etc., would you want to help us with that as well? Part of [Max' big list](https://github.com/coala/teams/blob/master/community/community_ideas.md) is also to get a better version of the old [coala planet](planet.coala-analyzer.org) up and running by using probably simething from [this list of tools](https://github.com/Ki

[2016-12-31 15:46] sils commented on #18
@sims1253 there are no responsibilities defined by the team lead

[2016-12-31 16:15] Mariatta commented on #22
@sims1253

Being involved in Python community is something I'm passionate with, and it's also something I've been doing already, it won't take much more time and effort than what I've put in already.

When given new assignments, I'll disclose my prior commitments and whether I have other tasks on hand and let them know if there will be any scheduling conflict. I know we'll all be able to work thin

[2016-12-31 16:18] Mariatta commented on #18
I approve this application.

[2016-12-31 16:20] sils commented on #22
Let me know when you need the swag so we can arrange that ;)

[2016-12-31 16:38] sims1253 commented on #22
:tada: I vote for this two. I don't have time to create your inclusion PR (see the ones for Lasse and Hemang). I'd do it tomorrow I guess but feel free to do it yourself if you can't wait :)

[2016-12-31 16:42] yukiisbored commented on #30
Sure, I don't mind doing sysadmin/devops work. I actually love doing those.

[2017-01-01 13:01] sils commented on #22
isn't this resolved?

[2017-01-01 14:54] #22 closed

[2017-01-02 09:33] sims1253 commented on #30
ack
someone from the community team wanna ack this?

[2017-01-02 09:34] sils commented on #30
ack

[2017-01-02 15:02] adtac commented on #18
@sils I don't have any particular set of responsibilities that you can choose from at the moment. But I'd like to suggest making radical design/architecture cEPs as your role? Like aspects. Might fit if you're looking for a less, uh, code-y contribution from now on.

[2017-01-02 18:37] sils commented on #18
@adtac I think the team might receive better applications and work better if we had a clear roadmap with specific things to address because otherwise the membership won't mean a lot.

[2017-01-02 18:41] adtac commented on #18
Right, I'll work something out.

[2017-01-02 23:11] #30 closed

[2017-01-03 03:57] Mariatta commented on #29
Can't we use
https://github.com/orgs/coala/teams/coala-maintainers
https://github.com/orgs/coala/teams/coala-developers
?
Are these pages visible to everyone?

[2017-01-04 14:06] sims1253 opened #34 "Prepare Call for Participation"
@Adrianzatreanu @adtac @userzimmermann @Udayan12167

You have until Sunday to prepare for the cfp. Think about how you want to organize your Team, what you want to achieve and how. Give applicants something wo work with.

[2017-01-08 14:58] Mixih opened #39 "Release Team Leader Application: Max Hahn"
# Bio

I'm Max, and I try to make masterpieces like [this](https://cloud.githubusercontent.com/assets/7521600/21007379/9af905ea-bd62-11e6-8735-fd8edcfd5c9f.png). Anyways, I've been around coala a while and generally know how things work around here. I also like putting check-marks in check-boxes so I think I would get along well with the current applicant we have to release team. (no I'm not Germa

[2017-01-09 00:02] Mixih commented on #29
yep, they are, at least to all org members

[2017-01-09 02:38] Mariatta commented on #39
I approve this.

[2017-01-09 06:41] sils commented on #39
me too but I think @sims1253 has to put up a full vote for him again, right?

[2017-01-09 06:42] sils commented on #39
according to the holy laws of coala

[2017-01-09 14:50] sims1253 commented on #39
I also approve this but we do have to put up a vote according to the cEP

[2017-01-09 14:52] sims1253 commented on #29
Would be nice to have something that is visible outside of the org

[2017-01-09 18:05] sils commented on #39
so put it up!

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 9 January 2017 at 15:50, sims1253 <notifications@github.com> wrote:

[2017-01-09 18:07] Mariatta commented on #29
For sure.
I'm just thinking of where this list should reside.
Maybe part of coala/landing?

[2017-01-09 18:09] Mariatta commented on #39
Just feels tedious. Can't you veto it and just accept it :sweat_smile: ? (especially considering there is no other contenders :thinking: )

[2017-01-09 18:20] sils commented on #39
Well legally we have nothing binding anyway, we just have the cEPs and we claim those are our rules. Generally this can be decided if more than half of the members have voted yes or we do the one week thing to give everyone a chance.

[2017-01-10 06:44] adtac commented on #39
FWIW, I also vote for this :P

[2017-01-11 11:34] #27 closed

[2017-01-11 20:42] marian-ald commented on #21
What does it means to apply to a team?

[2017-01-11 21:30] Adrianzatreanu commented on #21
@marian-ald :point_up: [January 11, 2017 1:49 PM](https://gitter.im/coala/coala?at=58761bdf074f7be763b923d4)

[2017-01-12 08:40] Udayan12167 opened #42 "Core Team Member Application: Udayan Tandon"
# Bio

I'm RTL(Research Team Lead). Have contributed to coala for two years coming up next month.

# coala Contributions so far

Many contributions to core and a failed GUI(Yes I'm owning it :P ).

# Road to the Future

Build a bridge between Research team and Core team in terms of implementations.

# Specific Responsibilities

Currently on the next gen bear design with @Makman2.

[2017-01-12 08:42] Udayan12167 opened #43 "Community Team Member Application: Udayan Tandon"
# Bio

I'm RTL(Research Team Lead). Have contributed to coala for two years coming up next month.

# coala Contributions so far

Many contributions to core and a failed GUI(Yes I'm owning it :P ).

# Road to the Future

Make research a habit in coala and apply to as many outreach programs as possible.

# Specific Responsibilities

Applying for RGSoC for the next month.

[2017-01-12 12:23] aptrishu opened #44 "core Team Member Application: Rishav Kumar"
# Bio

I'm Rishav, undergraduate student from India. I love algorithms.

# coala Contributions so far

I have contributed code to coala, coala-bears and coala_utils. I'm also working on Jenkins plugin of coala. I'm helping newcomers and reviewing PRs and old Issues.

# Specific Responsibilities

As I said I love algorithms so I'd like to optimize coala to enhance its performance and speed. I have

[2017-01-12 14:22] adtac commented on #42
Approving this solely because of your GUI contributions :P

ack :)

[2017-01-12 14:23] adtac commented on #44
ack :)

[2017-01-12 16:57] Asnelchristian opened #45 "Aspects team member application: Asnel Christian"
# Bio

I am Asnel  Christian Ngoulla, a computer science undergraduate student from Cameroon.
I love python, java, machine learning and computer graphics. I am not funny... but i like hanging around with people who are ( ;) like @adtac, @Adrianzatreanu ... :sweat_smile: ).

# coala Contributions so far

I have contributed some codes to coala, coala-bears and coala-utils, and must of what i did had

[2017-01-13 07:35] adtac commented on #45
ack :)

[2017-01-13 07:36] adtac commented on #45
wait, this was a core application originally? Didn't realize the title change

[2017-01-13 16:57] RohanVB opened #46 "Core Team Member Application: Rohan VB"
# Bio

I'm Rohan. I'm currently a 3rd year undergrad student of Maths & Computing in India.

# coala Contributions so far

My main contributions have been to the coala/coala repo, solving and opening issues. I've also reviewed a few PRs in the same repo. Other contributions have been in the coala/documentation repo.

# Road to the Future

I think reviewing PRs and helping newcomers get adjusted to

[2017-01-13 17:48] adtac commented on #46
ack :)

[2017-01-14 16:29] Asnelchristian opened #47 "Core team member application: Asnel Christian"
# Bio

I am Asnel Christian Ngoulla, a computer science undergraduate student from Cameroon.
I love python, java, machine learning and computer graphics. I am not funny... but i like hanging around with people who are ( ;) like @adtac, @Adrianzatreanu ... :sweat_smile: ).

# coala Contributions so far

I have contributed some codes to coala, coala-bears and coala-utils, and must of what i did had

[2017-01-14 17:30] hemangsk opened #48 "Core Team Member Application: Hemang Kumar"
# Bio
I am Hemang, I'm a Computer Science and Engineering undergrad, I like programming in Python, JavaScript and I also love making Android & Web projects. I like to learn new stuff everyday and to share my knowledge whenever I can.

# coala Contributions so far

I've contributed to coala and coala-landing. I'm also working on adding a cool feature in coala-quickstart which will help in detecting

[2017-01-15 00:21] sims1253 commented on #43
Do you want to take ongoing responsibilities in the community team or just manage the RGSoC application?
Becoming part of the team, in my understanding, would add a more long term determination to the community team's work.

[2017-01-15 09:03] adtac commented on #47
ack, welcome @Asnelchristian :)

[2017-01-15 09:05] adtac commented on #48
ack :)

Brilliant :) They could really use some development. Plus you're pretty good with front-end, so you can probably improve coala-html a lot :)

[2017-01-15 09:23] adtac commented on #42
@sils ack this?

[2017-01-15 09:25] adtac commented on #44
@sils do you approve this application? (one more ack needed and you're the only other member)

[2017-01-15 09:27] adtac commented on #47
@sils do you approve this application? (one more ack needed and you're the only other member)

[2017-01-15 09:27] adtac commented on #48
@sils do you approve this application? (one more ack needed and you're the only other member)

[2017-01-15 09:34] adtac commented on #46
@sils do you approve this application? (one more ack needed and you're the only other member)

[2017-01-15 10:33] sils commented on #46
@RohanVB so I think the main problem with the plugins is one that you already pointed out:

all the plugins are so small and not regularly released. I think we need a sustainable solution to *all* plugins to make sure they work and they are released properly and regularly. I'm thinking we could move them into one repository with proper CI so when you change any plugin you also see if any other is

[2017-01-15 10:34] sils commented on #47
@Asnelchristian so you would concretely try to work on the performance? Any specific points where you would like to optimize?

[2017-01-15 13:12] sils commented on #42
ack

[2017-01-15 13:12] sils commented on #39
@sims1253 ?

[2017-01-15 20:26] sims1253 commented on #39
@sils pinging me because you want me to make the election? Everyone can do that :)

[2017-01-16 07:56] sils commented on #39
@sims1253 you know the tools and processes

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 15 January 2017 at 21:26, sims1253 <notifications@github.com> wrote:

[2017-01-16 11:07] RohanVB commented on #46
I'm interested in the end user reception of coala and the issues linked with it. Since editor plugins is an important aspect of it, I'm willing to contribute to getting all the plugins in a single repo (attracting more contributors and making things more manageable); and hence maintaining them from that point. We could have proper documentation to go along with it so that it'll be easier to make f

[2017-01-16 17:42] Mariatta commented on #39
What's needed to start the voting?

[2017-01-16 19:21] sims1253 commented on #39
I'll do it.
We should think about some kind of Board where we publish election stuff so we don't have to spam everything all the time.
Or need one way to contact every maintainer.

[2017-01-16 19:27] sims1253 commented on #43
Just to clarify: Would you also admin the RGSoC? In that case the membership is a no brainer. If you just (not meant as derogatory) write the application with no further involvement, I feel like a team membership is not needed.

[2017-01-16 22:13] #34 closed

[2017-01-17 08:30] sils commented on #46
ack, sounds gorgeous!

[2017-01-17 09:04] sils commented on #46
@RohanVB can you give me an email address and make a PR adding yourself to the team in the repo? This should also close the issue

[2017-01-17 09:05] sils commented on #24
@Mariatta can you make a PR adding yourself to the team closing this issue?

[2017-01-17 10:43] sims1253 commented on #42
you can create a pr to add udayan to the team list and close this issue with it ;)

[2017-01-17 10:45] #18 closed

[2017-01-17 11:19] adtac commented on #42
I'll create a PR for everyone :)

[2017-01-17 11:20] adtac commented on #42
Or maybe everyone making a PR themselves is the best way.

In that case, why not make PRs the application method? We could just let them add the text as the PR body. Much easier IMO.

[2017-01-17 15:55] Udayan12167 commented on #43
Yes, I would become the primary contact for RGSoC. That was the intention. Surely I would like to take up more responsibility as well in community team. For now this is the only responsibility that comes to my mind. :D

[2017-01-17 16:06] sims1253 commented on #43
ack from me then :)

[2017-01-17 16:21] hemangsk commented on #43
ack 👍

[2017-01-21 13:47] meetmangukiya commented on #39
@coala/coala-maintainers  ?

[2017-01-21 21:22] meetmangukiya opened #51 "Release Team Member Application: Meet Mangukiya"
# Bio
I am Meet Mangukiya. I am currently a student of  IT engineering(in my first year). I like to automate stuff even that are easier and faster to do otherwise. I have written quite few rather useless programs that I myself end up abandoning :thinking: (think before you write, kids).
# coala Contributions so far
I've been involved with coala since September '16. I was new then, very basic knowl

[2017-01-23 17:27] #43 closed

[2017-02-02 10:08] sils commented on #45
CC @userzimmermann

[2017-02-02 14:55] sils commented on #45
@Asnelchristian can we define responsibilities a bit clearer maybe?

[2017-02-02 14:55] sils commented on #44
ack

[2017-02-02 14:55] sils commented on #47
ack

[2017-02-02 15:02] userzimmermann commented on #45
Hi @Asnelchristian

Welcome to the team! :) And sorry for the late reply! I just was very busy the last weeks...

@sils The responsibilities actually look very nice, since I don't like writing tests so much ;P

Based on bio and former contributions I think the collaboration will work very well :)
So I must finally update the team description...

[2017-02-02 15:05] sils commented on #48
ack

[2017-02-04 22:33] Mariatta commented on #44
ack

[2017-02-05 00:54] #46 closed

[2017-02-05 03:45] Mariatta commented on #48
ack

[2017-02-06 02:49] Mariatta commented on #51
ack

[2017-02-27 07:59] Techievena opened #54 "Aspects Team Member Application: Abinash Senapati"
# Bio

My name is Abinash Senapati. I am currently pursuing my B.Tech. in Electronics and Electrical Communication Engineering at IIT Kharagpur, India. I am a 19 year old open-source enthusiast (well both software and hardware :wink:)

# coala Contributions so far

My all merged commits are in coala/bears repo till now. I have been a regular reviewer of core and bears repo. I have also successfull

[2017-02-27 08:05] Techievena commented on #54
I am 19 till March 16. I wish this issue to be closed before that date. I am too lazy to change it to 20. :wink:

[2017-02-28 04:47] techievena commented on #54
CC @sils @userzimmermann

[2017-02-28 10:08] sils commented on #54
ack from me!

[2017-03-13 15:31] Siddhartha1234 opened #55 "Core Team Member Application : Siddhartha Mishra"
# Bio

I'm Siddhartha Mishra ,majoring in computer science(Undergrad) in IIT Hyderabad ,India .I'm an open source enthusiast and i love python and Android. I like to optimize performance and hunt for bottlenecks and scope for improvement in projects.

# coala Contributions so far
I have been part of coala since beginning of December 2016.It was my first open source experience and i have evolved an

[2017-03-13 15:31] mishra-sid commented on #55
CC @adtac @sils

[2017-03-15 17:38] userzimmermann commented on #54
Welcome to the aspects team, @Techievena :)

[2017-03-15 17:59] techievena commented on #54
You just saved me by 30 minutes from editing my age in the issue. :laughing:

[2017-03-19 11:59] pratyushprakash opened #56 "Aspects Team Member Application: Pratyush Prakash"
# Bio

My name is Pratyush Prakash and I am studying Information Technology at NITK, Surathkal. I am 19 years old and technology is my passion. I <3 everything sci-fi and Formula 1.

# coala Contributions so far

My main contributions have been at coala core. I have already solved two issues related to cEP-0005. Apart from this I have also solved various other issues and have even written a Bear (

[2017-03-19 12:33] pratyushprakash commented on #56
CC @sils @userzimmermann

[2017-03-20 08:00] sils commented on #56
Hey, will you help us with this independent of your GSoC? (IIUC you're applying?) I don't think it's wise to accept "conditional team memberships".

[2017-03-20 12:50] pratyushprakash commented on #56
@sils No, this is not a conditional Application. I will be contributing independent of GSoC.

[2017-03-21 19:54] userzimmermann commented on #56
Welcome to the team @pratyushprakash :)

[2017-03-21 19:57] userzimmermann commented on #56
@pratyushprakash Please join https://gitter.im/coala/aspects

[2017-03-22 21:45] Nosferatul opened #57 "Core Team Application: Alexandru Maxim"
# Bio

Who are you? What makes you special?

I'm Alex, student at Politehnica(Bucharest) in 2nd year and I like challenges!

# coala Contributions so far

What contributions, coding or not, have you done to coala?

Pull requests for coala and coala-bears repo. I helped newcomers and reviewed pull requests. So far I like it and I want to keep going.

# Road to the Future

How do you plan to take fo

[2017-03-23 19:49] userzimmermann opened #58 "WIP: Research Team Member Application: Stefan Zimmermann"
# Bio

Who are you? What makes you special?

# coala Contributions so far

What contributions, coding or not, have you done to coala?

# Road to the Future

How do you plan to take forward coala as a team leader/member of your team? What changes will you make happen.

# Specific Responsibilities

What do you want to work on. Do you have worked out project ideas?
What do you want take responsibilit

[2017-03-25 17:24] adtac commented on #24
@Mariatta wanna make a PR adding yourself? :)

[2017-04-28 23:02] userzimmermann opened #63 "Come aboard the bearship"
Or in other words: Let's create the **bearship crew** as new team :)

For further developing https://github.com/coala/bearsh and https://github.com/coala/bearship

@sils @sims1253 Opinions?
@yash-nisar You promised to join ;)
@coala/aspects-developers Anyone interested?
@MariosPanag Follow your captain ;)

[2017-04-29 02:30] techievena commented on #63
I'm in :smile:

[2017-04-29 04:53] yash-nisar commented on #63
Consider me in. :wink:

[2017-04-29 06:39] AsnelChristian commented on #63
'yoyoyoyoyoyo' i am in

[2017-04-29 09:24] meetmangukiya commented on #63
Me as well, it is the debugger thing, right?

[2017-04-29 11:28] userzimmermann commented on #63
@meetmangukiya It's the `bearsh` extension for IPython for interactive bear/aspect running/debugging and the fancy `bearship` interface for Jupyter with custom theming, `bearsh` integration with visual extensions... and everything awesome we can imageine ;)

[2017-05-04 14:10] meetmangukiya opened #65 "Community Team Member Application: Meet Mangukiya"
# Bio
I am Meet Mangukiya. I am currently a student of  IT engineering(in my first year). I like to automate stuff even that are easier and faster to do otherwise. I have written quite few rather useless programs that I myself end up abandoning :thinking: (think before you write, kids).

# coala Contributions so far
I've been involved with coala since September '16. I was new then, very basic know

[2017-05-09 11:00] #42 closed

[2017-05-09 11:07] #44 closed

[2017-05-09 11:07] adtac commented on #44
Merged

[2017-05-09 11:07] adtac commented on #47
Merged

[2017-05-09 11:07] #47 closed

[2017-05-09 11:07] adtac commented on #48
Merged

[2017-05-09 11:07] #48 closed

[2017-05-09 11:08] adtac commented on #55
@Siddhartha1234 make a PR directly adding yourself to the team members list.

[2017-05-09 11:08] adtac commented on #57
Hey @Nosferatul can you make a PR adding yourself to the team members list directly?

[2017-05-18 21:24] Nosferatul commented on #57
Done @adtac

[2017-05-19 17:20] #57 closed

[2017-05-30 15:20] #65 closed

[2017-05-31 15:09] meetmangukiya commented on #39
@Mixih is the release team leader, close this?

[2017-06-06 00:09] userzimmermann commented on #39
@mixih Regarding:

Have you heard about https://pypi.python.org/pypi/towncrier

I discovered it via `pytest` and @RonnyPfannschmidt. You can find more info here:

https://github.com/pytest-dev/pytest/pull/2431

cc @coala/coala-maintainers

[2017-06-06 14:26] #39 closed

[2017-07-15 11:54] #24 closed

[2017-07-15 11:54] #45 closed

[2017-07-15 11:54] #54 closed

[2017-07-15 11:54] #56 closed

[2018-01-29 13:37] rajendraarora16 commented on #63
I am in. :)

[2018-01-29 15:40] Makman2 commented on #63
@userzimmermann what's actually the state of bearship?

[2018-03-26 09:51] palash25 opened #69 "Core Team Member Application: Palash Nigam"
# Bio
Hi, I'm Palash, a CS undergrad from India. I'm an open source enthusiast and a python fanboy. I am interested in distributed systems, blockchain and backend dev. I have recently gotten interested in the Nextgen core and caching.

# coala Contributions so far
Apart from raising lots of issues, giving reviews and helping out newcomers till now I have made 9 PRs (2 mediums and rest lows). I hav

[2018-03-27 21:02] Makman2 commented on #69
You're accepted from my side, but I'm not the team leader officially (yet), and I'm not sure if it's bureaucratically  correct if I accept your application by myself.

[2018-03-27 21:02] Makman2 commented on #69
But you can remove also the colon in the issue reference inside the commit message :3

[2018-03-27 21:05] palash25 commented on #69
I hate it. I don't know why I made a habit out of this.

Thanks it means a lot coming from you.

[2018-03-27 21:25] adtac commented on #69
@Makman2 do you want to be the team leader? I'm not doing much anyway, so it makes sense to have someone more involved IMO.

+1 from me too :)

[2018-03-27 21:28] adtac commented on #69
@palash25 good choice of music, btw :)

[2018-03-27 21:28] Makman2 commented on #69
@adtac yeah I think would be beneficial if I'm taking on the leadership position :)

[2018-03-27 21:36] Makman2 opened #71 "Core team leader application"
# Bio

I'm Mischa, active in coala since start. Everything I've learned mostly originated from coala :)

# coala Contributions so far

With over 10k+ changed lines I know nearly every piece of coala, esp. core relevant stuff. Currently working on the NextGen-Core to bring it finally to life.

# Road to the Future

Developing the NextGen-Core further and make coala great again :P There are already

[2018-03-27 21:52] Makman2 commented on #63
Seems it's quite stale here, if you want to have this team, please reopen :smile:

[2018-03-27 21:52] #63 closed

[2018-03-27 22:04] Makman2 commented on #55
No PR submitted, closing due to inactivity.

[2018-03-27 22:04] #55 closed

[2018-03-27 22:05] #71 closed

[2018-03-27 22:06] Makman2 commented on #51
No PR submitted, closing due to inactivity.

[2018-03-27 22:06] #51 closed

[2018-03-27 22:07] Makman2 commented on #58
Closing due to inactivity.

[2018-03-27 22:07] Makman2 commented on #21
No PR submitted, closing due to inactivity.

[2018-03-27 22:07] #21 closed

[2018-03-27 22:08] Makman2 commented on #23
No PR submitted, closing due to inactivity.

[2018-03-27 22:08] #23 closed

[2018-03-27 22:09] #58 closed

[2018-03-30 14:59] #69 closed

[2018-04-23 11:34] jayvdb opened #74 "gsoc_responsibilities.md has old link to projects list"

[2018-04-23 13:23] jayvdb opened #75 "Add CoC to gsoc_responsibilities.md"
`gsoc_responsibilities.md` should link to coala's [CoC](http://coala.io/coc)

[2018-04-23 13:25] #74 closed

[2018-05-14 17:31] virresh opened #77 "Typo in gsoc_responsibilities.md"
`Backup Primary Primary` looks like a typo... probably there was something else there ?
(I guess last Primary -> Mentor, but someone please check).

[2018-05-30 01:32] #77 closed

[2018-05-30 01:32] meetmangukiya commented on #77
Closed

[2018-06-23 03:54] chhabrabhishek commented on #75
I want this issue to be assigned to me!@jayvdb

[2018-06-23 04:03] chhabrabhishek commented on #75
@jayvdb hi! just tell me a single thing where do i have to give the link of coc in gsoc_responsibilities.md , i mean after which point or points
or do i make a seperate section?

[2018-07-19 15:23] #75 closed

[2019-01-19 11:42] abhishalya opened #81 "Core Team Member Application: Abhinav Kaushlya"
# Bio

I'm Abhinav Kaushlya. I'm currently 14 years old and was a GCI student here at coala. I have worked on various coala issues during that time and before. I'm interested in 'learning through coala' as @jayvdb suggested.

# coala Contributions so far

I have worked on several issue on coala, coala-bears, coAST and corobo, all coding related.

# Road to the Future

I would definitely keep solvi

[2019-03-05 11:07] Makman2 commented on #81
Approved ;)

@abhishalya Could you push a PR modifying the core team list?

[2019-03-05 13:05] abhishalya commented on #81
Yay! Thank you @Makman2
I have created the pull request https://github.com/coala/teams/pull/83

[2019-03-11 15:14] #81 closed